<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Library Controller</title>
    <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
<h1>Library Controller</h1>
<div id="cent">
<button><a href="dodaj_tytul.html">Dodaj książkę</a></button>
<button><a href="dodaj_usera.html">Dodaj Użytkownika</a></button>
<button><a href="wypozyczenia.html">Wypożycz książkę</a></button>
<button><a href="dodaj_egzemplarz.html">Dodaj Egzemplarz książki</a></button>
<button><a href="user_delete.html">Usuń Czytelnika</a></button>
</div>





</body>
</html>
